[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

autogenstudio="*"
pyautogen="*"
langchain="*"
agentops="*"
crewai="*"
semantic-kernel="*"
python-dotenv="*"


[dev-packages]

autogenstudio="*"
pyautogen="*"
langchain="*"
agentops="*"
crewai="*"
semantic-kernel="*"
python-dotenv="*"


[requires]
python_version = "3.12"
